<h2>Tap Detail:</h2>
<div *ngIf="selectedTap">
  <h2>
    {{selectedTap.brand}} {{selectedTap.name}} | {{selectedTap.pintsRemaining}} Pints Remaining
  </h2>
  <h4>Tap Id: {{selectedTap.$key}}</h4>
  <button (click)="showEdit()">Edit</button>
  <div *ngIf="editOpen">
    <label>Name:</label>
    <input [(ngModel)]="selectedTap.name" placeholder={{selectedTap.name}}/>
    <label>Brand:</label>
    <input [(ngModel)]="selectedTap.brand" placeholder={{selectedTap.brand}}/>
    <label>Price:</label>
    <input [(ngModel)]="selectedTap.price" placeholder={{selectedTap.price}}/>
    <label>Alcohol Content:</label>
    <input [(ngModel)]="selectedTap.alcoholContent" placeholder={{selectedTap.alcoholContent}}/>
    <button (click)="saveEdit(selectedTap)">Save Edit</button>
  </div>
</div>
